<nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>

  <a href="/menu/category/BestTeas">Best Teas</a>
  <a href="/menu/category/Snackables">Snackables</a>
  <a href="/menu/category/AddOns">Add Ons</a>
</nav>
