<nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  
  <!-- Dropdown for Best Teas -->
  <div class="nav-item">
    <!-- <a href="/menu/category/BestTeas">Best Teas</a> -->
    <ul class="subnav">
      <!-- <li><a href="/menu/category/BestTeas#lavender">Lavender Bliss Tea</a></li>
      <li><a href="/menu/category/BestTeas#strawberry">Strawberry Zen Oolong</a></li> -->
    </ul>
  </div>

  <!-- Dropdown for Snackables -->
  <div class="nav-item">
    <!-- <a href="/menu/category/Snackables">Snackables</a> -->
    <ul class="subnav">
      <!-- <li><a href="/menu/category/Snackables#croissants">White Chocolate Pistachio Almond Croissants</a></li> -->
      <!-- Add more snack items here -->
    </ul>
  </div>

  <!-- Add Ons -->
  <a href="/menu/category/AddOns">Reviews</a>
</nav>
