<!DOCTYPE html>
<html>
<head>
  <title><%= category %> - Tea Menu</title>
</head>
<body>
  <h1><%= category %> - Tea Selection</h1>
  <ul>
    <% teas.forEach(tea => { %>
      <li><a href="/menu/<%= tea._id %>"><%= tea.name %></a></li>
    <% }) %>
  </ul>
</body>
</html>
